<!DOCTYPE html>
<html>
<head>
    <title>webapp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel='stylesheet' href= "/css/style.css"/> 
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="btn btn-dark ml-2 mr-lg-2" type="submit">Home</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <div class="btn-group">
                    <div class="dropdown">
                        <a class="btn btn-info dropdown-toggle" type="button" href="/demo/add">Add
                            <span class="caret"></span></a>
																								                      <!--   <ul class="dropdown-menu">
																								                            <li><a href="apple">i phone 7</a></li>
																								                            <li><a href="">i phone 8</a></li>
																								                            <li><a href="#">i phone x</a></li>
																								                        </ul>                           -->
                    </div>

                    <div class="dropdown">
                        <a class="btn btn-info dropdown-toggle" type="button" href="/demo/viewUsers">View Users
                            <span class="caret"></span></a>
                        <!-- <ul class="dropdown-menu">
                            <li><a href="#">s1</a></li>
                            <li><a href="#">s2</a></li>
                            <li><a href="#">s3</a></li>
                        </ul> -->
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Admin
                            <span class="caret"></span></button>
                       <!--  <ul class="dropdown-menu">
                            <li><a href="adminlogin">Login</a></li>
                            <li><a href="#">Redmi note 4 +</a></li>
                            <li><a href="#">Redmi note 5</a></li>
                        </ul> -->
                    </div>


                </div>
            </li>
        </ul>


        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-info ml-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="first">
    <div class="center">
        <a href="apple" class="btn btn-lg btn-danger "><i class="fa fa-heart"></i> <b>view</b></a>
    </div>
</div>

<div class="fourth" style="height:500px;font-size:36px">
    <div class="center3">
        <a href="apple" class="btn btn-lg btn-danger "><i class="fa fa-heart"></i><b>view</b></a>
    </div>
</div>

<div class="second">
    <div class="center2">
        <a href="apple" class="btn btn-lg btn-danger "><b><i class="fa fa-heart"></i>view</b></a>
    </div>
</div>

<div class="fifth" style="height:500px;font-size:36px">
    <div class="center3">
        <a href="apple" class="btn btn-lg btn-danger "><i class="fa fa-heart"></i><b>view</b></a>
    </div>
</div>

<div class="third">
    <div class="center3">
        <a href="apple" class="btn btn-lg btn-danger "><i class="fa fa-heart"></i><b>view</b></a>
    </div>
</div>
<!--<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">-->
    <!--<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">-->
        <!--<div class="my-3 py-3">-->
            <!--<h2 class="display-5">Another headline</h2>-->
            <!--<p class="lead">And an even wittier subheading.</p>-->
        <!--</div>-->
        <!--<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
    <!--</div>-->
    <!--<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">-->
        <!--<div class="my-3 p-3">-->
            <!--<h2 class="display-5">Another headline</h2>-->
            <!--<p class="lead">And an even wittier subheading.</p>-->
        <!--</div>-->
        <!--<div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
    <!--</div>    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">-->
    <!--<div class="my-3 py-3">-->
        <!--<h2 class="display-5">Another headline</h2>-->
        <!--<p class="lead">And an even wittier subheading.</p>-->
    <!--</div>-->
    <!--<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
<!--</div>-->
    <!--<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">-->
        <!--<div class="my-3 p-3">-->
            <!--<h2 class="display-5">Another headline</h2>-->
            <!--<p class="lead">And an even wittier subheading.</p>-->
        <!--</div>-->
        <!--<div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="sixth" style="height:500px;">-->
    <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
        <!--<div class="carousel-inner">-->
            <!--<div class="carousel-item active">-->
                <!--<img class="d-block w-100 " style=" height: 500px" src="https://image-us.samsung.com/SamsungUS/home/hp/april-2019/DT_tab_alt.png?$cm-g-fb-full-bleed-img-jpg$" alt="First slide">-->
                <!--<a href="apple" class="btn btn-lg btn-danger "><b><i class="fa fa-heart"></i>view</b></a>-->
            <!--</div>-->
            <!--<div class="carousel-item">-->
                <!--<img class="d-block w-100"  style="height: 500px" src="https://image-us.samsung.com/SamsungUS/home/explore/gaming/mobile-gaming/5-fortnite-mobile-tips/110818/DT-0-Fortnite-Hero-1182018.jpg?$default$" alt="Second slide">-->
            <!--</div>-->
            <!--<div class="carousel-item">-->
                <!--<img class="d-block w-100"  style="height: 500px" src="https://image-us.samsung.com/SamsungUS/home/hp/april-2019/DT_tab_alt.png?$cm-g-fb-full-bleed-img-jpg$" alt="Third slide">-->
            <!--</div>-->
        <!--</div>-->
        <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
            <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <!--<span class="sr-only">Next</span>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->



<div class="bottom">
    <nav class=" navbar navbar-expand-lg navbar-light bg-primary navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
        </div>
    </nav>
</div>




<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
